*{
  overflow: hidden;
}


a:any-link{
  color: #22232b;
  text-decoration: none;
}
a:hover{
  color: white;
}
#logo img {
  margin-right: 200px;
}
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 1920px;
  background-color: white;
  background-repeat: no-repeat;
  
}
#navbar{
  max-width: 100%;
  height: 100px;
  background-color: black;
}
#navbar ul{
  float: right;
  list-style: none;
}
#navbar ul li{
  font-size: 20px;
  float: left;
  margin-top: 20px;
  margin-right: 25px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box {
margin: 275px;
margin-left: 650px;
width: 500px;
border: solid black;
padding: 50px;
border-width: 25px;
float: left;
box-shadow: black;
border-style: solid;
border-right-style: outset;
height: 200px;

}
.box h3{
  margin-top: 200px;
  margin-left: 160px;
  font-size: 40px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
