a:any-link{
  color: #22232b;
  text-decoration: none;
}
a:hover{
  color: white;
}
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 1920px;
  background-color: #42455a;
}
#navbar{
  max-width: 100%;
  height: 100px;
  background-color: #5b5f7d;
}
#navbar ul{
  float: right;
  list-style: none;
}
#navbar ul li{
  font-size: 20px;
  float: left;
  margin-top: 20px;
  margin-right: 25px;
}