a:any-link{
  color: #22232b;
  text-decoration: none;
}
a:hover{
  color: white;
}
body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  max-width: 1920px;
  background-color:#EAEDED;
}
#navbar{
  max-width: 100%;
  height: 100px;
  background-color: #5b5f7d;
}
#navbar ul{
  float: right;
  list-style: none;
}
#navbar ul li{
  font-size: 20px;
  float: left;
  margin-top: 20px;
  margin-right: 25px;
}
#navbar img{
  height: 90px;
  width: 100px;
  margin: 5px;
}
#item1 img{
  max-height: 500px;
  margin-left: 500px;
  margin-top: 50px;
}
#item2 img{
  max-height: 600px;
  margin-left: 500px;
  margin-top: 50px;
}
#item3 img{
  float: right;
  max-height: 500px;
  width: 410px;
  margin-right: 500px;
  margin-top: -1158px;
}
#item4 img{
  float: right;
  max-height: 600px;
  width: 410px;
  margin-right: 500px;
  margin-top: -603px;
}

.image1anddescription img{
  height: 700px;
  margin: 50px;
}
.image1anddescription p{
  text-align: right;
  font-size: 30px;
  margin-top: -700px;
  margin-right: 60px;
  color: white;
}